name: Porter Invocation Image CD

on:
  push:
    branches: [ porter-test ]
  workflow_dispatch:

jobs:
  new-porter-cd:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Repository
      uses: actions/checkout@v2

    - run: 'echo "VSAC_API_KEY=$VSAC_API_KEY" > .env; echo "COMPOSE_PROJECT_NAME=rems_porter" >> .env'
      shell: bash
      env:
        VSAC_API_KEY: ${{secrets.VSAC_API_KEY}}
    
    - run: docker system prune -a 

    - run: docker volume prune 

    - name: Install Porter
      run: curl -L https://cdn.porter.sh/canary/install-linux.sh | bash

    - name: Set Porter path
      run: echo "~/.porter" >> $GITHUB_PATH

    - name: Install Porter Mixins
      run: porter mixins install docker; porter mixins install docker-compose

    - name: Build Invocation Image
      run: porter build 

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
        
    - name: Publish Invocation Image
      run: porter publish --tag latest
